services_api_service=TWYR_CONFIG_OBJECT
services_audit_service=TWYR_CONFIG_OBJECT
services_aws_service=TWYR_CONFIG_OBJECT
services_aws_service_accessKeyId=ACCESS_KEY_ID
services_aws_service_secretAccessKey=SECRET_ACCESS_KEY
services_aws_service_region=timbuktoo-1
services_cache_service=TWYR_CONFIG_OBJECT
services_cache_service_port=6379
services_cache_service_host=127.0.0.1
services_cache_service_options=TWYR_CONFIG_OBJECT
services_cache_service_options_retry=Yellow
services_database_service=TWYR_CONFIG_OBJECT
services_database_service_pool=TWYR_CONFIG_OBJECT
services_database_service_pool_max=2
services_database_service_pool_min=1
services_database_service_debug=false
services_database_service_client=pg
services_database_service_connection=TWYR_CONFIG_OBJECT
services_database_service_connection_host=127.0.0.1
services_database_service_connection_port=5432
services_database_service_connection_user=twyr
services_database_service_connection_database=twyr
services_database_service_connection_password=twyr
services_localization_service=TWYR_CONFIG_OBJECT
services_localization_service_cookie=twyr-webapp-locale
services_localization_service_directory=i18n
services_localization_service_syncFiles=true
services_localization_service_autoReload=false
services_localization_service_updateFiles=true
services_localization_service_defaultLocale=en
services_localization_service_locales=TWYR_CONFIG_ARRAY
services_logger_service=TWYR_CONFIG_OBJECT
services_logger_service_File=TWYR_CONFIG_OBJECT
services_logger_service_File_name=File
services_logger_service_File_json=false
services_logger_service_File_level=debug
services_logger_service_File_maxsize=10485760
services_logger_service_File_colorize=true
services_logger_service_File_filename=logs/twyr-web-application.log
services_logger_service_File_maxFiles=10
services_logger_service_File_tailable=true
services_logger_service_File_timestamp=true
services_logger_service_File_prettyPrint=true
services_logger_service_File_zippedArchive=true
services_logger_service_File_handleExceptions=true
services_logger_service_File_humanReadableUnhandledException=true
services_logger_service_Console=TWYR_CONFIG_OBJECT
services_logger_service_Console_name=Console
services_logger_service_Console_json=false
services_logger_service_Console_level=debug
services_logger_service_Console_colorize=true
services_logger_service_Console_timestamp=true
services_logger_service_Console_prettyPrint=true
services_logger_service_Console_handleExceptions=true
services_logger_service_Console_humanReadableUnhandledException=true
services_mailer_service=TWYR_CONFIG_OBJECT
services_mailer_service_domain=mg.twyr.com
services_mailer_service_apiKey=key-f
services_mailer_service_mute=false
services_mailer_service_timeout=5000
services_mailer_service_host=api.mailgun.net
services_mailer_service_protocol=https:
services_mailer_service_port=443
services_mailer_service_endpoint=/v3
services_mailer_service_retry=4
services_mailer_service_secure=true
services_mailer_service_auth=TWYR_CONFIG_OBJECT
services_mailer_service_auth_pass=twyr
services_mailer_service_auth_user=root@twyr.com
services_pubsub_service=TWYR_CONFIG_OBJECT
services_pubsub_service_twyr-audit=TWYR_CONFIG_OBJECT
services_pubsub_service_twyr-audit_type=redis
services_pubsub_service_twyr-audit_redis=redis
services_pubsub_service_twyr-audit_port=6379
services_pubsub_service_twyr-audit_host=127.0.0.1
services_pubsub_service_twyr-audit_db=12
services_pubsub_service_twyr-audit_json=false
services_pubsub_service_twyr-audit_options=TWYR_CONFIG_OBJECT
